# Analiziranje dolžin knjig

V tej datoteki analiziramo podatke, povezane z dolžinami knjig iz fantazijske zbirke knjig "Malazan Book of the Fallen" avtorja Stevena Eriksona in zbirke "Novels of the Malazan Empire" avtorja Ian C. Esslemonta. V prvi zbirki je 10 knjig, v drugi pa 6.

In [2]:
import os
import pandas as pd

directory_obdelani = 'podatki-obdelani'
csv_osebe = 'osebe.csv'
csv_knjige = 'knjige.csv'
csv_dolzine = 'dolžine.csv'
#količina izpisanih vrstic
pd.set_option("display.max_rows", 12)
# izberemo interaktivni "notebook" stil risanja
%matplotlib inline
path_osebe = os.path.join(directory_obdelani, csv_osebe)
osebe = pd.read_csv(path_osebe)
osebe.index += 1

path_knjige = os.path.join(directory_obdelani, csv_knjige)
knjige = pd.read_csv(path_knjige)
knjige.index += 1

path_dolzine = os.path.join(directory_obdelani, csv_dolzine)
dolzine = pd.read_csv(path_dolzine)
dolzine.index += 1

## 1.Osnovne informacije

### 1.1 Razpredelnica - dolžine knjig

In [3]:
dolzine

                            ime stevilo besed  stevilo strani
1           Gardens of the Moon       209,000             496
2               Deadhouse Gates       272,000             604
3               Memories of Ice       358,000             780
4               House of Chains       306,000             672
5                Midnight Tides       270,000             624
..                          ...           ...             ...
12  Return of the Crimson Guard       272,000             702
13                 Stonewielder       198,000             634
14           Orb Sceptre Throne       188,000             605
15               Blood and Bone       183,000             586
16                       Assail       168,000             544

[16 rows x 3 columns]

### 1.2 Osnovne statistike

In [4]:
dolzine.describe()

       stevilo strani
count       16.000000
mean       672.437500
std        156.941165
min        304.000000
25%        599.500000
50%        653.000000
75%        804.000000
max        928.000000