# Analiziranje podatkov

In [2]:
import os
import pandas as pd

directory_obdelani = 'podatki-obdelani'
csv_osebe = 'characters.csv'
#količina izpisanih vrstic
pd.set_option("display.max_rows", 12)
# izberemo interaktivni "notebook" stil risanja
%matplotlib inline
path = os.path.join(directory_obdelani, csv_osebe)
osebe = pd.read_csv(path)

## 1.Osnovne informacije

In [3]:
osebe

,ime,opis,pojavljanje
0,A'Karonys,High Mage of the Malazan Empire,GotM
1,Abide,"Pure Forkrul Assail, lawful inquisitor, mystic",CG
2,Able,Soldier in the Bonehunters,HoC
3,Abrastal,Queen of Bolkando,"DoD, CG"
4,Absi,Son of Onos T'oolan (Tool) and Hetan,"DoD, CG"
...,...,...,...
689,Withal,A Meckros Weaponsmith who briefly works for th...,"MT, BH, RG, DoD, CG"
690,Wither,Shadow wraith,"MT, RG"
691,Wu,Dal Hon mage that would later take the name Ke...,"DL, DhL"
692,Yan Tovis,"Letherii Atri-Preda at Feint Reach, also calle...","MT, BH, RG, DoD, CG"
693,Yedan Derryg,"Letherii, the Watch","RG, DoD, CG"

In [4]:
osebe.describe()

              ime                        opis pojavljanje
count         694                         694         693
unique        694                         505         132
top     A'Karonys  Soldier in the Bonehunters         MoI
freq            1                          44          67

In [19]:
zacetnice_ponovitve = {}
for i in "ABCDEFGHIJKLMNOPRSTUVWXYZ":
    zacetnice_ponovitve[i] = 0
    for j in osebe['ime']:
        if i == j[0]:
            zacetnice_ponovitve[i] += 1
            
zacetnice = {'začetnice':list(crke_ponovitve.keys()), 'ponovitve':list(crke_ponovitve.values())}
zacetnice_pd = pd.DataFrame.from_dict(zacetnice)
zacetnice_pd

   začetnice  ponovitve
0          A         31
1          B         70
2          C         32
3          D         24
4          E         13
..       ...        ...
20         V         10
21         W          6
22         X          0
23         Y          2
24         Z          0

[25 rows x 2 columns]